<% layout("/layouts/boilerplate") -%>

    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
        data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 cstmStl mt-bg"
        tabindex="0">
            <h4 id="scrollspyHeading1">About Me</h4>
                <%- include("../includes/about.ejs") %>
            <h4 id="scrollspyHeading2">Education</h4>
                <%- include("../includes/education.ejs") %>
            <h4 id="scrollspyHeading3">Certifications</h4>
                <%- include("../includes/certifications.ejs") %>
            <h4 id="scrollspyHeading4">Projects</h4>
                <%- include("../includes/projects.ejs") %>
            <h4 id="scrollspyHeading5">Open Source</h4>
                <%- include("../includes/openSource.ejs") %>
    </div>